.relative {
  position: relative !important
}

.flex {
  display: flex !important
}

.hidden {
  display: none !important
}

.h-\[30px\] {
  height: 30px !important
}

.h-full {
  height: 100% !important
}

.w-\[30px\] {
  width: 30px !important
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.\!flex-row {
  flex-direction: row !important
}

.flex-col {
  flex-direction: column !important
}

.items-center {
  align-items: center !important
}

.justify-center {
  justify-content: center !important
}

.rounded {
  border-radius: .4rem !important
}

.rounded-sm {
  border-radius: .2rem !important
}

.border {
  border-width: 1px !important
}

.border-3 {
  border-width: 3px !important
}

.border-white {
  --tw-border-opacity: 1 !important;
  border-color: rgb(255 255 255 / var(--tw-border-opacity)) !important
}

.p-24 {
  padding: 2.4rem !important
}

.py-3 {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important
}

.capitalize {
  text-transform: capitalize !important
}

.underline {
  text-decoration-line: underline !important
}

.opacity-0 {
  opacity: 0 !important
}

.outline {
  outline-style: solid !important
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important
}